{% extends "base.html" %}
{% block navbar_content %}
<div class="ms-2 me-auto">
	<!-- Display username of currently logged in user -->
	<div class="d-flex float-start unselectable username text-nowrap me-1">Logged in as: {{ user.first_name }}</div>
</div>
<div class="d-flex py-1 mb-0 me-2">
	<!-- Create a New movie button -->
	<div class="text-center">
		<button class="btn btn-primary btn-sm text-nowrap" data-bs-toggle="modal" data-bs-target="#modal-new-movie" value="New Movie">New Movie</button>
	</div>
</div>
<div class="d-flex py-1 mb-0 me-2">
	<!-- Create a search form -->
	<div class="input-group input-group-sm">
		<input class="form-control form-control-sm" type="search" name="search_term" id="search_term" data-lastvalue="" placeholder="Search" aria-label="Search" oninput="handleSearchReset( this)">
		<button class="btn btn-sm btn-success" type="submit" id="search_submit" onclick="reqMoviesAsHtmlListItems( document.getElementById( 'search_term' ).value )">Search</button>
		<button class="btn btn-sm btn-success" type="button" onclick="reqMoviesAsHtmlListItems( '' )">Reset</button>
	</div>
</div>
<div class="d-flex py-1 mb-0">
<div class="btn-group btn-group-sm" id="sort-buttons-container">
</div>
</div>
{% endblock %}
{% block page_content %}
{% if search_result %}
<!-- Create a list where movies are listed-->
<ul class="list-group list-group-flush" id="movies">
</ul>
{% else %}
<div class="row justify-content-center">
	The list is empty / No movies found
</div>
{% endif %}
<!-- Create a modal dialog for displaying a larger movie poster that lets a user change the poster url -->
<div class="modal" id="modal-poster" tabindex="-1">
	<div class="modal-dialog modal-dialog-centered">
		<div class="modal-content">
			<div class="d-flex justify-content-end">
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body">
				<img id="big_poster_img" class="img-fluid" data-bs-dismiss="modal" src="" alt="Big modal poster"/>
				<div class="d-flex">
					<input id="poster_src" class="form-control" type="url" name="poster_src" placeholder="Poster URL" data-lastvalue="" onfocusout="updateBigPosterUrl( this )">
					<button id="submit_poster_url" type="submit" class="btn btn-outline-primary" data-bs-dismiss="modal" aria-label="Update poster" >Update</button><!--  -->
				</div>
			</div>
		</div>
	</div>
</div>
<!-- Create a modal dialog for Add Movie -->
<div class="modal" id="modal-new-movie" tabindex="-1">
	<div class="modal-dialog modal-dialog-centered">
		<div class="modal-content">
			<form method="POST">
				<div class="modal-header">
					<h5 class="modal-title">New Movie</h5>
					<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
				</div>
				<div class="modal-body">
					<div class="form-group form-floating">
						<div class="mb-3 form-floating">
							<input class="form-control" type="text" tabindex="0" id="movie_title" name="movie_title" placeholder="Movie title">
							<label for="movie_title">Movie title</label>
						</div>
						<div class="mb-3 form-floating">
							<input class="form-control" type="url" id="movie_img" name="movie_img" placeholder="Poster URL">
							<label for="movie_img">Poster URL</label>
						</div>
						<div class="mb-3 form-floating">
							<input class="form-control" type="text" id="movie_genre" name="movie_genre" placeholder="Genre">
							<label for="movie_genre">Genre</label>
						</div>
						<div class="mb-3 form-floating">
							<input class="form-control" type="number" id="movie_length" name="movie_length" placeholder="Length (minutes)">
							<label for="movie_length">Length (minutes)</label>
						</div>
					</div>
				</div>
				<div class="modal-footer">
					<button class="btn btn-secondary" type="button" data-bs-dismiss="modal" aria-label="Cancel" value="Cancel">Cancel</button>
					<button class="btn btn-primary" type="submit" data-bs-dismiss="modal" aria-label="Add movie" value="Add Movie">Add Movie</button>
				</div>
			</form>
		</div>
	</div>
</div>
{% endblock %}
