{% extends "base.html" %}
{% block navbar_content %}
<div class="d-flex">
	<!-- Display username of currently logged in user -->
	<div class="unselectable username me-1">
		<span class="align-middle text-nowrap">Logged in as: {{ user.first_name }}</span>
	</div>
	<!-- Create a New movie button -->
	<div class="me-1">
		<button class="btn btn-outline-primary text-nowrap" data-bs-toggle="modal" data-bs-target="#modal-new-movie" value="New Movie">New Movie</button>
	</div>
	<!-- Create a search form -->
	<form action="/search" method="POST" class="d-inline-flex">
		<input class="form-control me-1" type="search" name="search_term" value="{{ query }}" placeholder="Search" aria-label="Search">
		<!--button class="btn btn-outline-success" type="submit">Search</button-->
	</form>
</div>
{% endblock %}
{% block page_content %}
{% if search_result %}
<!-- Create a list -->
<ul class="list-group list-group-flush" id="movies">
	<!-- Create a jinja variable to be used in the for loop -->
	<!-- Is only used for frontend -->
	{% set list_pos = namespace( num = 0 ) %}
	<!-- Loop through all available moovies -->
	{% for movie in search_result %}
		<!-- Increase the list number -->
		{% set list_pos.num = list_pos.num + 1 %}
		<!-- Create a list item -->
		<li class="list-group-item" id="li_{{ movie.id }}">
			<div class="row justify-content-center">
				{{ loop.index }}
				<!-- Create an image containing the movie poster -->
				<div class="col-auto d-inline g-0 tooltipped">
					<img id="poster_icon_{{ movie.id }}" class="poster-icon d-inline" data-bs-toggle="modal" data-bs-target="#modal-poster" src="{{ movie.img_src }}" onclick="updateModalPoster( {{ movie.id }}, this )" alt="Poster icon"/>
					<div class="tooltiptext unselectable text-nowrap bg-dark text-white">Show bigger poster, change URL</div>
				</div>
				<!-- Put movie attributes to the right of the poster icon -->
				<div class="col">
					<!-- Create a label and a textbox for title -->
					<div class="mb-2 form-floating form-floating-sm">
						<input id="input_title_{{ movie.id }}" type="text" class="form-control" placeholder="Title" value="{{ movie.title }}" data-lastvalue="{{ movie.title }}" onfocusout="updateTitle( {{ movie.id }}, this )">
						<label for="input_title_{{ movie.id }}" class="form-label form-label-sm">Title:</label>
					</div>
					<!-- Create a label and a textbox for genre -->
					<div class="mb-2 form-floating form-floating-sm">
						<input id="input_genre_{{ movie.id }}" type="text" class="form-control" placeholder="Genre" value="{{ movie.genre }}" data-lastvalue="{{ movie.genre }}" onfocusout="updateGenre( {{ movie.id }}, this )">
						<label for="input_genre_{{ movie.id }}">Genre:</label>
					</div>
						<!-- Create a label and a textbox for movie length -->
						<div class="mb-2 form-floating form-floating-sm">
						<input id="input_length_{{ movie.id }}" type="number" class="form-control" placeholder="Length: (Minutes)" value="{{ movie.length }}" data-lastvalue="{{ movie.length }}" onfocusout="updateLength( {{ movie.id }}, this )">
						<label for="input_length_{{ movie.id }}">Length: (Minutes)</label>
					</div>
					<!-- Create a checkbox for marking a movie as watched -->
					<div class="mb-2">
						<div class="form-check">
							<input id="checkbox_{{ movie.id }}" type="checkbox" name="done_check" class="form-check-input" onclick="doneMovie( {{ movie.id }} )" {% if movie.done %} checked {% endif %}>
							<label for="checkbox_{{ movie.id }}" class="form-check-label">Watched</label>
						</div>
					</div>
					<!-- Create a button for deleting a movie -->
					<div class="mb-2">
						<div class="input-control">
							<input id="delete_{{ movie.id }}" type="button" class="btn-close" onclick="deleteMovie( {{ movie.id }} )">
							<label for="delete_{{ movie.id }}" class="custom-form-label">Remove</label>
						</div>
					</div>
				</div>
			</div>
		</li>
{% endfor %}
</ul>
{% else %}
<div class="row justify-content-center">
	The list is empty / No movies found
</div>
{% endif %}
<!-- Create a modal dialog for displaying a larger movie poster that lets user change the poster url -->
<div class="modal" id="modal-poster" tabindex="-1">
	<div class="modal-dialog modal-dialog-centered">
		<div class="modal-content">
			<div class="d-flex justify-content-end">
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body">
				<img id="big_poster_img" class="img-fluid" data-bs-dismiss="modal" src="" alt="Big modal poster"/>
				<div class="d-flex">
					<input id="poster_src" class="form-control" type="url" name="poster_src" placeholder="Poster URL" data-lastvalue="" onfocusout="updateBigPosterUrl( this )">
					<button id="submit_poster_url" type="submit" class="btn btn-primary" data-bs-dismiss="modal" aria-label="Update poster" >Update</button><!--  -->
				</div>
			</div>
		</div>
	</div>
</div>
<!-- Create a modal dialog for Add Movie -->
<div class="modal" id="modal-new-movie" tabindex="-1">
	<div class="modal-dialog modal-dialog-centered">
		<div class="modal-content">
			<form method="POST">
				<div class="modal-header">
					<h5 class="modal-title">New Movie</h5>
					<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
				</div>
				<div class="modal-body">
					<div class="form-group form-floating">
						<div class="mb-3 form-floating">
							<input class="form-control" type="text" id="movie_title" name="movie_title" placeholder="Movie title">
							<label for="movie_title">Movie title</label>
						</div>
						<div class="mb-3 form-floating">
							<input class="form-control" type="url" id="movie_img" name="movie_img" placeholder="Poster URL">
							<label for="movie_img">Poster URL</label>
						</div>
						<div class="mb-3 form-floating">
							<input class="form-control" type="text" id="movie_genre" name="movie_genre" placeholder="Genre">
							<label for="movie_genre">Genre</label>
						</div>
						<div class="mb-3 form-floating">
							<input class="form-control" type="number" id="movie_length" name="movie_length" placeholder="Length (minutes)">
							<label for="movie_length">Length (minutes)</label>
						</div>
					</div>
				</div>
				<div class="modal-footer">
					<button class="btn btn-secondary" type="button" data-bs-dismiss="modal" aria-label="Cancel" value="Cancel">Cancel</button>
					<button class="btn btn-primary" type="submit" data-bs-dismiss="modal" aria-label="Add movie" value="Add Movie">Add Movie</button>
				</div>
			</form>
		</div>
	</div>
</div>
{% endblock %}
