{% if search_result %}
	{# Loop through all available moovies #}
	{% for movie in search_result %}
		<!-- Create a list item -->
		<li class="list-group-item" id="li_{{ movie.id }}">
			<div class="row justify-content-center">
				{# #{{ loop.index }} #}
				<div class="col col-auto px-0">
					<div class="d-block unselectable tooltipped" onclick="deleteMovie( {{ movie.id }} )">
						<span class="material-icons">delete_forever</span>
						<div class="tooltiptext unselectable text-nowrap bg-dark text-white">Remove</div>
					</div>
		{% if not query %}
		{% if not loop.first %}
					<div class="d-block unselectable tooltipped" onclick="arrangeMovie( {{ movie.id }}, {{ loop.index0 }}, 'first' )">
						<span class="material-icons">keyboard_double_arrow_up</span>
						<div class="tooltiptext unselectable text-nowrap bg-dark text-white">Move to top</div>
					</div>
					<div class="d-block unselectable tooltipped" onclick="arrangeMovie( {{ movie.id }}, {{ loop.index0 }}, 'up' )">
						<span class="material-icons">keyboard_arrow_up</span>
						<div class="tooltiptext unselectable text-nowrap bg-dark text-white">Move up</div>
					</div>
		{% endif %}
		{% if not loop.last %}
					<div class="d-block unselectable tooltipped" onclick="arrangeMovie( {{ movie.id }}, {{ loop.index0 }}, 'down' )">
						<span class="material-icons">keyboard_arrow_down</span>
						<div class="tooltiptext unselectable text-nowrap bg-dark text-white">Move down</div>
					</div>
					<div class="d-block unselectable tooltipped" onclick="arrangeMovie( {{ movie.id }}, {{ loop.index0 }}, 'last' )">
						<span class="material-icons">keyboard_double_arrow_down</span>
						<div class="tooltiptext unselectable text-nowrap bg-dark text-white">Move to bottom</div>
					</div>
		{% endif %}
		{% endif %}
				</div>
				<!-- Create an image containing the movie poster -->
				<div class="col col-auto d-inline g-0 tooltipped">
					<img id="poster_icon_{{ movie.id }}" class="poster-icon d-inline" data-bs-toggle="modal" data-bs-target="#modal-poster" src="{{ movie.img_src }}" onclick="updateModalPoster( {{ movie.id }}, this )" alt="Poster icon"/>
					<div class="tooltiptext unselectable text-nowrap bg-dark text-white">Show bigger poster, change URL</div>
				</div>
				<!-- Put movie attributes to the right of the poster icon -->
				<div class="col">
					<!-- Create a label and a textbox for title -->
					<div class="row mb-2 form-floating form-floating-sm">
						<input id="input_title_{{ movie.id }}" type="text" class="form-control border-0" placeholder="Title" value="{{ movie.title }}" data-lastvalue="{{ movie.title }}" onfocusout="updateTitle( {{ movie.id }}, this )">
						<label for="input_title_{{ movie.id }}">Title:</label>
					</div>
					<!-- Create a label and a textbox for genre -->
					<div class="row mb-2 form-floating form-floating-sm">
						<input id="input_genre_{{ movie.id }}" type="text" class="form-control border-0" placeholder="Genre" value="{{ movie.genre }}" data-lastvalue="{{ movie.genre }}" onfocusout="updateGenre( {{ movie.id }}, this )">
						<label for="input_genre_{{ movie.id }}">Genre:</label>
					</div>
						<!-- Create a label and a textbox for movie length -->
					<div class="row mb-2 form-floating form-floating-sm">
						<input id="input_length_{{ movie.id }}" type="number" class="form-control border-0" placeholder="Length: (Minutes)" value="{{ movie.length }}" data-lastvalue="{{ movie.length }}" onfocusout="updateLength( {{ movie.id }}, this )">
						<label for="input_length_{{ movie.id }}">Length: (Minutes)</label>
					</div>
					<!-- Create a checkbox for marking a movie as watched -->
					<div class="row mb-0 px-3">
						<div class="form-check">
							<input id="checkbox_{{ movie.id }}" type="checkbox" name="done_check" class="form-check-input" onclick="doneMovie( {{ movie.id }} )" {% if movie.done %} checked {% endif %}>
							<label for="checkbox_{{ movie.id }}">Watched</label>
						</div>
					</div>
				</div>
			</div>
		</li>
{% endfor %}
</ul>
{% else %}
<div class="row justify-content-center">
	The list is empty / No movies found
</div>
{% endif %}
