{% extends "base.html" %}
{% block content %}
<div class="container py-2">
	<div class="row d-flex justify-content-center align-items-center">
		<div class="col-5 d-flex"><!-- d-inline-->
			<img class="img-fluid" alt="Background image" src="/static/background-posters.jpg"/>
		</div>
		<div class="col-4 d-flex align-items-center"><!-- d-inline-->
			<div class="row">
				<div class="d-flex align-items-center">
					<span class="h3">Signup</span>
				</div>
				<form method="POST">
					<div class="mb-2 form-floating form-floating-sm">
						<input id="email" type="email" class="form-control" name="email" placeholder="Email Address">
						<label for="email" class="form-label form-label-sm">Email Address</label>
					</div>
					<div class="mb-2 form-floating form-floating-sm">
						<input id="firstname" type="text" class="form-control" name="firstname" placeholder="First Name">
						<label for="firstname" class="form-label form-label-sm">First Name</label>
					</div>
					<div class="mb-2 form-floating form-floating-sm">
						<input id="password1" type="password" class="form-control" name="password1" placeholder="Password">
						<label for="password1" class="form-label form-label-sm">Password</label>
					</div>
					<div class="mb-2 form-floating form-floating-sm">
						<input id="password2" type="password" class="form-control" name="password2" placeholder="Confirm">
						<label for="password2" class="form-label form-label-sm">Confirm</label>
					</div>
					<button type="submit" class="btn btn-primary">Submit</button>
				</form>
			</div>
		</div>
	</div>
</div>
{% endblock %}
