{% extends "base.html" %}
{% block content %}
<form method="POST">
	<h3 align="center">Sign Up</h3>
	<div class="form-group ">
		<div class="mb-2 form-floating">
			<input id="email" type="email" class="form-control" name="email" placeholder="Email Address">
			<label for="email">Email Address</label>
		</div>
		<div class="mb-2 form-floating">
			<input id="firstname" type="text" class="form-control" name="firstname" placeholder="First Name">
			<label for="firstname">First Name</label>
		</div>
		<div class="mb-2 form-floating">
			<input id="password1" type="password" class="form-control" name="password1" placeholder="Password">
			<label for="password1">Password</label>
		</div>
		<div class="mb-2 form-floating">
			<input id="password2" type="password" class="form-control" name="password2" placeholder="Confirm">
			<label for="password2">Confirm</label>
		</div>
	</div>
	<button type="submit" class="btn btn-primary">Submit</button>
</form>
{% endblock %}
