*
{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body, html
{
	font-family: Trebuchet MS, Arial, sans-serif;
	font-size: 16px;
	width: 100%!important;
	height: 100%!important;
}

.unselectable
{
	-webkit-user-select: none;  /* Chrome all / Safari all */
	-moz-user-select: none;     /* Firefox all */
	-ms-user-select: none;      /* IE 10+ */
	user-select: none;
}

svg.hidden
{
	display: none;
}

span
{
	background: transparent;
}

th.right-align
{
	text-align: right;
}

div.right-corner-container
{
	z-index: 5;
	position: absolute;
	top: 9px;
	right: 10px;
}

div.username
{
	color: rgb( 250, 250, 250 );
	display: inline-block;
}

div.close
{
	float: right;
}

img.poster-icon
{
	width: 160px;
	height: 240px;
	border:1px solid black;
}

.changable-container
{
	position: relative;
	display: inline-block;
}

.change-btn
{
	position: absolute;
	top: -20px;
	left: -5px;/*calc( 100% - 5px );*/
	display: none;
	z-index: 5;
}

img.poster-icon:hover + .change-btn, .change-btn:hover
{
	display: inline;
}

.changable-attr:hover + .change-btn, .change-btn:hover
{
	display: inline-block;
}

.textbox-size
{
	width: 100%;
}