/*
Make all elements tight
*/
*
{
	margin: 0;
	padding: 0;
}

body
{
	padding-top: 55px
}

/*
Sett font and text size
Use all available space
*/
body, html
{
	font-family: Trebuchet MS, Arial, sans-serif;
	font-size: 16px;
	width: 100%!important;
	height: 100%!important;
}

/*
Some parts should be unselectable
*/
.unselectable
{
	-webkit-user-select: none;  /* Chrome all / Safari all */
	-moz-user-select: none;     /* Firefox all */
	-ms-user-select: none;      /* IE 10+ */
	user-select: none;
}

svg.hidden
{
	display: none;
}
/*
th.right-align
{
	text-align: right;
}
*/
.right-corner-container
{
	z-index: 2000;
	position: relative;
}

.username
{
	color: rgb( 250, 250, 250 );
	display: inline-block;
}

div.close
{
	float: right;
}

.poster-icon
{
	width: 160px;
	height: 240px;
	border:1px solid black;
}

.tooltipped
{
	position: relative;
	display: inline-block;
}

/*
Make all elements of class tooltiptext initially invisible
Set position to hover just above top right corner of hovered element
*/
.tooltipped .tooltiptext
{
	visibility: hidden;
	text-align: center;
	padding: 3px 8px;
	border-radius: 2px;
	position: absolute;
	top: -15px;
	left: calc( 100% - 15px );
	z-index: 1;
}

/*
Change visibility for elements of class tooltiptext
when pointer is hovering on a HTML element of class tooltipped
*/
.tooltipped:hover .tooltiptext, .tooltiptext:hover
{
	visibility: visible;
}

.textbox-size
{
	width: 100%;
}
